apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- ../../base
images:
- name: adhp/zlc-frontend
  newName: adhp/frontend
  newTag: zlc-main-e01c3d9
- name: denartcc/api
  newName: adhp/api
  newTag: dev-a596810
- name: zlcartcc/api
  newName: adhp/api
  newTag: dev-57fc47b
patchesStrategicMerge:
- api/merge/certificate.yaml
- api/merge/ingress.yaml
- frontend/merge/certificate.yaml
- frontend/merge/ingress.yaml
