apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- ../../base
images:
- name: adhp/zdv-frontend
  newName: adhp/frontend
  newTag: zdv-main-7e0d03f
- name: denartcc/api
  newName: adhp/api
  newTag: dev-6432f1d
patchesStrategicMerge:
- api/merge/certificate.yaml
- api/merge/ingress.yaml
- frontend/merge/certificate.yaml
- frontend/merge/ingress.yaml
