apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- namespace.yaml
- ../../base
- auth/certificate.yaml
- auth/deployment.yaml
- auth/ingress.yaml
- auth/service.yaml
- discord/certificate.yaml
- discord/deployment.yaml
- discord/ingress.yaml
- discord/service.yaml
- mysql-backup/cronjob.yaml
- bot/deployment.yaml
- chart-parser/cronjob.yaml
images:
- name: adhp/zdv-frontend
  newName: adhp/frontend
  newTag: zdv-v1.7.1690941518.33-86878c0
- name: denartcc/api
  newName: adhp/api
  newTag: main-5bedc84
- name: denartcc/bot
  newName: adhp/bot
  newTag: main-89bb762
- name: vzanartcc/auth
  newName: adhp/auth
  newTag: 72032a6
