apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- namespace.yaml
- ../../base
- auth/certificate.yaml
- auth/deployment.yaml
- auth/ingress.yaml
- auth/service.yaml
- discord/certificate.yaml
- discord/deployment.yaml
- discord/ingress.yaml
- discord/service.yaml
- mysql-backup/cronjob.yaml
- chart-parser/cronjob.yaml
images:
- name: adhp/zlc-frontend
  newName: adhp/frontend
  newTag: zlc-v1.8.1707621152.54-c7d4ebf
- name: denartcc/api
  newName: adhp/api
  newTag: main-2c79d76
- name: zlcartcc/api
  newName: adhp/api
  newTag: main-8163c14
- name: zlcartcc/auth
  newName: adhp/auth
  newTag: 72032a6
- name: zlcartcc/bot
  newName: adhp/bot
  newTag: main-89bb762
